In [1]:
import pandas, warnings

import seaborn as sns

import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

sns.set_style("whitegrid")

In [2]:
colors = ["#BC9F8B", "#B5CFB7", "#C5705D", "#ACE1AF", "#B3C8CF"]

def barplot(result, **barlimit):
  if "ylabel" not in barlimit.keys():
    barlimit["ylabel"] = "Total Trip"
  if "color" not in barlimit.keys():
    barlimit["color"] = colors
  bar = result.plot.bar(rot=0, **barlimit)
  for container in bar.containers:
    bar.bar_label(container, fmt="%1.1f")

def pieplot(result, **pieargs):
  if "colors" not in pieargs.keys():
    pieargs["colors"] = colors
  pieargs["ylabel"] = ""
  plot = result.plot.pie(**pieargs);

def lineplot(result, **lineargs):
  plot = result.plot.line(**lineargs)
  plot.set_xticks(result.index);

In [3]:
url = "trainstati.csv"

tanggal = ["time_estimated", "destination_time", "updated_at"]

origin = pandas.read_table(url, sep=",", parse_dates=tanggal)

origin.iloc[:5, :7]

,id,station_id,train_id,line,route,color,destination
0,AC-2400,AC,2400,COMMUTER LINE TANJUNGPRIUK,JAKARTAKOTA-TANJUNGPRIUK,#DD0067,TANJUNGPRIUK
1,AC-2401,AC,2401,COMMUTER LINE TANJUNGPRIUK,TANJUNGPRIUK-JAKARTAKOTA,#DD0067,JAKARTAKOTA
2,AC-2402,AC,2402,COMMUTER LINE TANJUNGPRIUK,JAKARTAKOTA-TANJUNGPRIUK,#DD0067,TANJUNGPRIUK
3,AC-2403,AC,2403,COMMUTER LINE TANJUNGPRIUK,TANJUNGPRIUK-JAKARTAKOTA,#DD0067,JAKARTAKOTA
4,AC-2404,AC,2404,COMMUTER LINE TANJUNGPRIUK,JAKARTAKOTA-TANJUNGPRIUK,#DD0067,TANJUNGPRIUK

In [4]:
origin.iloc[:5, 7:]

,time_estimated,destination_time,updated_at,statiun,asal,time
0,2024-06-02 06:07:00,2024-06-02 06:16:00,2024-03-16 17:00:08.063000+00:00,ANCOL,JAKARTAKOTA,9.0
1,2024-06-02 06:34:00,2024-06-02 06:42:00,2024-03-16 17:00:08.063000+00:00,ANCOL,TANJUNGPRIUK,8.0
2,2024-06-02 06:24:00,2024-06-02 06:33:00,2024-03-16 17:00:08.063000+00:00,ANCOL,JAKARTAKOTA,9.0
3,2024-06-02 06:50:00,2024-06-02 06:58:00,2024-03-16 17:00:08.063000+00:00,ANCOL,TANJUNGPRIUK,8.0
4,2024-06-02 06:43:00,2024-06-02 06:52:00,2024-03-16 17:00:08.063000+00:00,ANCOL,JAKARTAKOTA,9.0

In [5]:
origin.isnull().sum().sum()

0

In [6]:
origin.duplicated().sum()

0

In [7]:
total_trip = origin["id"].count()

total_trip

18065

In [8]:
assert total_trip == origin.shape[0], "Fail !"